<div class="jumbotron bg-success text-white py-3">
  <h1 class="display-4 text-center">Payment Detail Register</h1>
</div>
<div class="row">
  <div class="col-md-6"><app-payment-detail-form></app-payment-detail-form></div>
  <div class="col-md-6 mt-5">
    <table class="table">
      <thead class="bg-success text-white">
        <tr>
        <th>Card Owner</th>
        <th>Card Number</th>
        <th>Exp. Date</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of service.list">
        <td>{{item.cardOwnerName}}</td>
        <td>{{item.cardNumber}}</td>
        <td>{{item.expirationDate}}</td>
        <td>
          <i class="far fa-trash-alt fa-lg text-danger"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

